{% extends "base.html" %}

{% block app_content %}
    <div class="container-fluid p-4">
    <h2 class="display-1">{{ artistinfo.name }}</h2>
    <br>
    <h3>Home Town:</h3>
    <p>{{ artistinfo.hometown }}</p>
    <br>
    <h3>Bio:</h3>
    <p>{{ artistinfo.description }}</p>
    <br>
    <h3>Events:</h3>
    <p>
    {% for event in artistinfo.events %}
        <li><b>{{ event.name }}</b> at the <b>{{ event.venue.name }}</b>
{#            on <b>{{event.start_time.strftime('%A, %b %d %Y')}}</b>.#}
        </li>
       {% endfor %}

    </p>
    <br>
    </div>
{% endblock %}