{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Local Artists</title>
    {% else %}
    <title>Local Artists</title>
    {% endif %}
</head>
<body>

    <h1>Artists Meet CS</h1>
    <div>
        {% if current_user.is_authenticated %}
        <a href="/index">Home</a>
        <a href="/artistlist">Artist List</a>
        <a href="/CreateAnArtist">Create An Artist</a>
        <a href="/CreateAnEvent">Create An Event</a>
        <a href="/CreateAVenue">Create A Venue</a>
        <a href="/logout">Log Out</a>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>