{% extends "base.html" %}

{% block content %}
    <h2>Create a New Artist</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}
            <br>
            {{ form.name() }}
        </p>

        <p>
            {{ form.hometown.label }}
            <br>
            {{ form.hometown() }}
        </p>

        <p>
            {{ form.description.label }}
            <br>
            {{ form.description() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}