{% extends "base.html" %}

{% block content %}
    <h2>Create a New Event</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.name.label }}
            <br>
            {{ form.name() }}
        </p>

        <p>
            {{ form.date.label }}
            <br>
            {{ form.date() }}
        </p>

        <p>
            {{ form.venueField.label }}
            <br>
        </p>
        <p>
            {{ form.venueField() }}

        </p>
         <p>
            {{ form.artistField.label }}
            <br>
        </p>
        <p>
            {{ form.artistField() }}

        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}